{% extends 'padre.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="{% url 'buscarPosicion' %}" method="get"> <!-- no es obligatorio token de seg.  -->
                    <h2>Busqueda de Jugadores por Posición</h2>
                    <p>Posición: <input type="text" name="posicion"></p>
                    <button type="submit"> Buscar Jugador </button>
                    <p class="mb-0">Opciones frecuentes: Arquero, Defensor, Volante, Delantero</p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}