{% extends 'padre.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="{% url 'buscarLiga' %}" method="get"> <!-- no es obligatorio token de seg.  -->
                    <h2>Busqueda de Equipos por Liga</h2>
                    <p>Liga: <input type="text" name="liga"></p>
                    <button type="submit"> Buscar Equipo </button>
                    <p class="mb-0">Opciones frecuentes: Liga A, 1, A, Liga B, B, 2, Liga C, C, 3.</p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}