{% extends 'padre.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Inicio</h2>
                <br>
                <p>Bienvenido a Proyecto Liga</p>
                <br>
                <p>Crea y administra tu propio torneo!</p>
                <br>
                <a href="{% url 'busquedaLiga' %}">
                    <button type="button">Ir a Buscar Equipos por liga</button>
                </a>
                <br><br>
                <a href="{% url 'busquedaPosicion' %}">
                    <button type="button">Ir a Buscar Jugadores por Posición</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}