{% extends 'padre.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="{% url 'JugadoresFormulario' %}" method="post"> {% csrf_token %} <!--token seguridad-->
                    <h2>Registro de Jugadores</h2>
                    {{miFormulario.as_p}}
                    <button type="submit"> Registrar Jugador </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}