{% extends 'padre.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="{% url 'LigasFormulario' %}" method="post"> {% csrf_token %} <!--token seguridad-->
                    <h2>Registro de Ligas</h2>
                    {{miFormulario.as_p}}
                    <button type="submit"> Registrar Liga </button>
                    <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, dolore.</p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}